.layout{
    display: flex;
    position: absolute;
    font-size: 20px;
    top: 60px;
    right: 80px;
    color: azure;
    a{
      display: block;
      margin: 0 20px;
    }
    .productList{
      display: block;
      margin-right: 200px;
    }
  }